# Node related
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Terraform related
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
crash.log

# Editor related
*.swp
*.bak
*.tmp
*~
*.sublime*
*.idea/
.vscode/
.DS_Store